#background {
    background-color: #1c92d2;
    height: auto;
    padding-bottom: 100px;
}

.signup {
    background-color: transparent;
    color: #00b7ff;
    border: 2px solid #00c3ec;
    border-radius: 30px;
}

.arabic {
    background-color: transparent;
    color: #00b7ff;
    border: 2px solid #00c3ec;
    border-radius: 5px;
}

.signup:hover {
    transform: scale(1.05);
    background-color: transparent;
}

a.active {
    background-color: #00c3ec;
    color: #fff;
    border-radius: 30px;
}

#divNavbar {
    padding: 50px 50px;
    height: auto;
    margin-bottom: 2%;
}

#Navbar {
    border-radius: 20px;
    /* transition: all .2s ease-in-out; */
    padding: 1rem;
    color: #00c3ec;
    background-color: #f4f4f4;
}

.new-navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    background-color: transparent;
}

#facebookIcon {
    color: #3b5998;
    float: left;
    font-size: 60px;
    /* padding-top: 20px; */
}

#linkedInIcon {
    color: #3b5998;
    float: left;
    font-size: 60px;
    /* padding-top: 20px; */
    padding-left: 20px;
}

#DivSearch {
    margin-bottom: 5%;
    background-color: #f4f4f4;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
    padding: 1rem;
    color: #00c3ec;
    width: 95%;
}

#myInput {
    border-radius: 30px;
    border-color: #00c3ec;
    height: 60px;
    text-decoration: rgb(87, 84, 84);
    font-size: 25px;
    font-weight: 600;
    background-color: #f4f4f4;
}

#divInputSearch {
    padding-top: 20px;
}

#IconSearch {
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    background-color: #00c3ec;
    border-radius: 50%;
    color: white;
}

#divIconSearch {
    padding: 15px 20px 20px 20px;
}

.minInput {
    position: unset !important;
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex: unset !important;
    margin: 0 10px;
    opacity: 1 !important;
    padding: 8px;
    background-color: hsla(0, 0%, 100%, .2);
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid #00c5ec;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    cursor: text !important;
    color: #151515;
    font-family: Righteous;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

#buttonApplyPrice {
    border-radius: 50px;
    border: none;
    font-size: 25px;
    font-family: Righteous;
    padding: 8px 20px;
    margin: 10px;
    background-color: #00c5ec;
    color: white;
    width: 70%;
    padding: 3%;
}

.secondrow {
    margin-top: 2%;
    margin-bottom: 2%;
}

#SecNavDivs {
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(252, 251, 251);
    /* font-style: unset; */
}

#form {
    border-bottom: 2px solid #00c3ec;
}

#footer {
    background-color: white;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

#firstColInFooter {
    padding-top: 30px;
}

#footerIcon {
    width: 20%;
    float: left;
}

#footerBrand {
    font-family: Luckiest;
    color: #1c92d2;
    padding-top: 10%;
    font-weight: bolder;
    font-size: 2vw;
}

#divLinks {
    text-align: center;
}

#footerLinks {
    float: left;
    font-size: 20px;
    /* padding-right: 10px; */
    width: auto;
}

#googlePlay {
    width: 100%;
    padding-top: 20px;
}


/* [class*="cardd"] {
    float: left;
} */

.books {
    text-align: center;
}

#search {
    margin: 10px;
}

.card {
    height: 250px;
    margin: 40px;
    background-color: white;
    color: #1c92d2;
}