#background {
    background-color: #1c92d2;
}

.signup {
    background-color: transparent;
    color: #00b7ff;
    border: 2px solid #00c3ec;
    border-radius: 30px;
}

.arabic {
    background-color: transparent;
    color: #00b7ff;
    border: 2px solid #00c3ec;
    border-radius: 5px;
}

.signup:hover {
    transform: scale(1.05);
    background-color: transparent;
}

.new-navbar-wrapper {
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

a.active {
    background-color: #00c3ec;
    color: #fff;
    border-radius: 30px;
}

#new-navbar-container {
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background-color: white;
    padding: 1rem;
    color: #00c3ec;
    /* position: fixed; */
    justify-content: center;
    margin-top: 20px;
}

#divNavbar {
    padding: 30px 10px;
    height: 85px;
}

#Navbar {
    border-radius: 20px;
    transition: all .2s ease-in-out;
    padding: 1rem;
    color: #00c3ec;
}

.new-navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    background-color: transparent;
}

.new-navbar-spacer {
    margin: 20px 10px;
    height: 85px;
}

#facebookIcon {
    color: #3b5998;
    float: left;
    font-size: 60px;
    /* padding-top: 20px; */
}

#linkedInIcon {
    color: #3b5998;
    float: left;
    font-size: 60px;
    /* padding-top: 20px; */
    padding-left: 20px;
}

#footer {
    background-color: white;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

#firstColInFooter {
    padding-top: 30px;
}

#footerIcon {
    width: 20%;
    float: left;
}

#footerBrand {
    font-family: Luckiest;
    color: #1c92d2;
    padding-top: 10%;
    font-weight: bolder;
    font-size: 2vw;
}

#divLinks {
    text-align: center;
}

#footerLinks {
    float: left;
    font-size: 20px;
    /* padding-right: 10px; */
    width: auto;
}

#googlePlay {
    width: 60%;
    padding-top: 20px;
}